
body { font-family: Tahoma; font-size: 10pt;  }
p { 	text-align: justify; margin-bottom: 4pt; margin-top:0pt;  }

table {font-family: Tahoma; font-size: 8pt; line-height: 1.2;
  margin-top: 2pt; margin-bottom: 5pt;
  border-collapse: collapse; border: 1px;  }

table.judul{font-family: Tahoma; font-size: 10pt; font-weight: bold; vertical-align: top;}

thead {	font-weight: bold; vertical-align: top; text-align: center;background-color:#C5C5EC;font-weight:bold; }
tfoot {	font-weight: bold; vertical-align: top; }
thead td { font-weight: bold; }
tfoot td { font-weight: bold; }

/*.headerrow td, .headerrow th { background-gradient: linear #abb555 #cccccc 0 1 0 0.2; font-weight: bold;  }*/
.headerrow td, .headerrow th { /*background-gradient: linear #FAFAFA #F7F7F7 0 1 0 0.2;*/ font-weight: bold;  }
.headertr td, .headertr th { background-gradient: linear #FAFAFA #F7F7F7 0 1 0 0.2; font-weight: bold;  }
.footerrow td, .footerrow th { background-gradient: linear #abb555 #abb555 0 1 0 0.2; font-weight: bold; }


th {font-weight: bold;
  vertical-align: middle;
  text-align:center;
  padding-left: 2mm;
  padding-right: 2mm;
  padding-top: 0.5mm;
  padding-bottom: 0.5mm;
  background-color:#C5C5EC;
}

.text-center{
  vertical-align: top;
  text-align:center;
}

.text-right{
  vertical-align: top;
  text-align:right;
}


tr.headi td{font-family: Tahoma; font-size: 8pt; font-weight: bold; vertical-align: middle; text-align:center;}

tr.atbaw td {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.table-bordered {
  border: 1px solid #121212;
  border-collapse: collapse;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #121212;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

tr.at td {
  border-top: 1px solid;
}

tr.vatop td {
  vertical-align: top;
  text-align:left;
}

.table-bordered th {
  border: 1px solid #121212;
}

.table-bordered td {
  padding-left: 1mm;
  vertical-align: top;
  text-align:left;
  padding-right: 1mm;
  padding-top: 0.1mm;
  padding-bottom: 0.1mm;
  border: 1px solid #121212;
}

th p { text-align: left; margin:0pt;  }
td p { text-align: left; margin:0pt;  }

table.widecells td {
  padding-left: 5mm;
  padding-right: 5mm;
}
table.tallcells td {
  padding-top: 3mm;
  padding-bottom: 3mm;
}

hr {	width: 100%; height: 1px;
  text-align: center; color: #999999;
  /*margin-top: 8pt; margin-bottom: 8pt;*/ }

a {	color: #000066; font-style: normal; text-decoration: underline;
  font-weight: normal; }

ul {	text-indent: 5mm; margin-bottom: 9pt; }
ol {	text-indent: 5mm; margin-bottom: 9pt; }

pre { font-family: Tahoma; font-size: 9pt; margin-top: 5pt; margin-bottom: 5pt; }



